/* 
    Document   : login
    Created on : Aug 27, 2013, 12:47:16 PM
    Author     : bagga-bugs
    Description:
        Purpose of the stylesheet follows.
*/

*{
    margin:0px;
    padding:0px;
}
body
{
    font-family: a;
    font-size: 100%;
    font-weight: normal;
    letter-spacing:0px;
    margin: 0;
    padding:0; 
    background-color:#fff;
}
ul,li{
    padding:0;
    margin:0;
}

input:-webkit-autofill{
    color:#fff !important;
}
input:focus{
    outline:none;
}


.icon a {
    font-family: a;
    font-size: 0.6em;
    font-weight: bold;
    line-height:inherit;
    display:block;
    float: left;
    width: 12%;
    text-align: center;
    text-transform: capitalize;
}
.loginformc
{
    display:none;
    width: 380px;
    margin: 0 auto;
}

.btncvr
{

}
.loginbtn
{ 
   
    display: inline-block;
   
    text-align: center;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    padding: 0 15px;
    line-height: 27px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -ms-transition: all 0.218s;
    -o-transition: all 0.218s;
    transition: all 0.218s;
   border:1px solid #003300;
    background-color:#004F00;
      background-image: -webkit-gradient(linear,left top,left bottom,from(#008000),to(#004F00));
    background-image: -webkit-linear-gradient(top,#008000,#004F00);
    background-image: -moz-linear-gradient(top,#008000,#004F00);
    background-image: -ms-linear-gradient(top,#008000,#004F00);
    background-image: -o-linear-gradient(top,#008000,#004F000);
    background-image: linear-gradient(top,#008000,#004F00);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
 
}  

.loginbtn:hover {
    border: 1px solid gainsboro; 
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 0.0s;
    -moz-transition: all 0.0s;
    -ms-transition: all 0.0s;
    -o-transition: all 0.0s;
    transition: all 0.0s;
   background-color: #008000;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#008000),to(#008000));
    background-image: -webkit-linear-gradient(top,#008000,#008000);
    background-image: -moz-linear-gradient(top,#008000,#008000);
    background-image: -ms-linear-gradient(top,#008000,#008000);
    background-image: -o-linear-gradient(top,#008000,#008000);
    background-image: linear-gradient(top,#008000,#008000);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor:pointer;
}   
.sbtncvr
{
    background-color: #006400;
    background-position: 0 -49px;
    background-repeat: repeat-x;
    /*     background-image:url(~/images/btn.jpg) ;*/
    padding:0px 8px;   
    height:20px;
    min-width:54px;
    text-transform:uppercase;
    display:inline-block;
    line-height:20px; 
    /* border: 1px solid  #3B6E22 #3B6E22 #2C5115; */
    border: 1px solid transparent; 
    text-shadow:0 1px rgba(0,0,0,0.1);
    border-radius:2px; 
    zindex:9990
}
/* .sbtn
 {
background:none;
border:0;
color:#fff;
cursor:pointer;
display:inline-block;
font-family:inherit; 
font-size: 12px;
font-weight:bold;
margin:0;
outline:none;
white-space:nowrap; 
 }
.sbtncvr:hover {background-color:#4ac541; }  */
.lwrdiv
{
    margin-top:2px; 
    padding:1px;    
    display:block; 
    height:37px;
    width:378px;
    line-height:37px;
}
.lwrdiv-frgt{
    margin: 15px 0 0 0;
    width: 334px;
}
.lwr-div-a{
    width:62px;
}
.lwr-div-b{
    width:100px;
}
.lwr-div-c{
    width:100px;
}
.lwr-div-d{
    width:74px;
    margin-left:20px;
}
.lwrdiv a{
    text-decoration:none;
}
.emlbl,.pwdlbl{

    font-family:inherit,sans-serif;font-size: 12px;
    font-weight:bold;
    width: 135px;
    float:left;
    height: 32px;
    line-height:33px;
    background-color: #880000;
    color: white;
    margin:0;
    padding:0 5px;
    position: relative;
    text-align: center;
}
.emdiv,.pwddiv{

    height: 32px;
    width:390px;
}
.emdiv{
    /*margin: 0 0 1.5em;*/
}
.lntxtbox{
	
}
.lntxtbox:active{
    background-color:#fff; 
}
input:-webkit-autofill {
    background-color:#2a2a2a !important;
}
.sign-in-lntxtbox
{
    /*width:245px;
    height:28px;
    border:none;
    padding:2px 2px 2px 7px;
    margin:1px 0px 5px -1px;
    border-radius:2px;*/
}
input:focus { background-color: #fff; }

.frgtpwd-dv{
    display: inline-block;
    position: relative;
    width: 335px;
}
.frgtpwd-label{
    position:absolute;
    top:8px;
    left:10px;
    color:#999;
}
#llgnpcbo,#lgnpcbo,#loginforma{
    position:relative;
}
#llgnpcbo input[type="text"],#llgnpcbo input[type="email"],#llgnpcbo input[type="password"],.frgtpwd input[type="email"],
.frgtpwd-dv input[type="email"],
.frgtpwd input[type="text"]{
    width:335px;
    height: 32px;
    line-height:29px;
    font-size: 15px;
    direction: ltr;
    display: inline-block;
    margin: 5px 0;
    padding: 0 8px;
    background: white;
    border: 1px solid #D9D9D9;
    border-top: 1px solid silver;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
#lgnpcbo input[type="text"],#lgnpcbo input[type="email"],#lgnpcbo input[type="password"],.frgtpwd input[type="email"],
.frgtpwd-dv input[type="email"],
.frgtpwd input[type="text"]{
    width:165px;
    height: 28px;
    line-height:15px;
    font-size: 12px;
    direction: ltr;
    display: inline-block;
    margin: 5px;
    padding: 0 8px;
    background: white;
    border: 1px solid #eee;
    border-top: 1px solid silver;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.signin input[type="email"],.signin input[type="password"],.signin input[type="text"]{
    width:245px;
    background-color:#fff !important;
    display: inline-block;
    position:absolute;
    height: 32px;
    line-height:29px;
    font-size: 15px;
    direction: ltr;
    margin: 0;
    padding: 0 8px;
    background: white;
    border: 1px solid #D9D9D9;
    border-top: 1px solid silver;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
#llgnpcbo input[type="text"]:hover,#llgnpcbo input[type="email"]:hover,#llgnpcbo input[type="password"]:hover{
    /*    border: 1px solid #B9B9B9;
        border-top: 1px solid #A0A0A0;
        -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);*/
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0px none;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
}
.p_img_bx{
    position: absolute;
    overflow: hidden;
    width: 460px;
    margin: 0;
}
h2{
    margin:0;
    padding:0;
    font-family:inherit, Helvetica, sans-serif;
    font-weight:normal;
    font-size:15px;
}
.p_img_bx li{
    float: left;
    font-size: 12px;
    height: 105px;
    list-style-type: none;
    margin-right: 5px;
    margin-top: 15px;
    position: relative;
    text-align: center;
    width: 110px;
}

img
{
    border:none; 
}
#header{
    background-color: #fff;  
    border-bottom: 1px solid #eee;
/*    -webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
    box-shadow: rgba(0,0,0,0.3) 0 1px 3px;*/
}
.oindexheader
{
    /*    height:100px;	*/
    background: #fff none repeat scroll 0 0;
    border-bottom: medium none;
    margin: 0 auto;
    width: 79%;
    position: relative;
    z-index: 9999;
    text-shadow:0 1px 1px rgba(1, 1, 1, 0.1);
}
.indexheader
{ 
    /* background-color: #f0f0f0;
    background-color:#880000;
    height:100px;
    display: block;
    width: 100%;
    border-bottom:1px solid #c6c9ce;  
    margin: 0px;
    z-index:9999; */
    height: 45px;
    line-height: 45px;
}
#container{
	margin:0;
	padding:0;
}
.indexincontainer{
    padding-top:20px;
    background-color:#fff;
}
.indexcontainer{
    /* 	margin:0 auto;
            width:auto;
            max-width:1000px;
            min-width:890px; */
}
.indexbox{
    position: relative;
    
    min-height:300px;
    width:1000px;
    /* padding:15px 0 85px 0;
    margin: 25px auto 0 auto;
   background-color: rgb(255,255,255,0.4);
    border-color: #e5e5e5 #dbdbdb #d2d2d2;
    -webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
    box-shadow: rgba(0,0,0,0.3) 0 1px 3px;*/
}
.indexboxh{
	height:45px;
}
.lindexbox
{
    margin:0 500px 0 0;    
    padding:20px 125px 20px 45px;
    width: 335px;
}
.rindexbox 
{
    margin:0;
    float: right;
    width: 335px;
    padding:20px 45px 0 55px;
}   
.middleline{
    border-right: 1px solid #EEEEEE;
    height: 150px;
    margin: 55px 0 0 500px;
    position: absolute;  ;
}
.lindexbox h1{
    /*color: #880000*/
    color:#ccc;
}
.lindexboxbanner{
    padding: 15px;
    display: inline-block;
    overflow: hidden;
}
.lindexheader img{
    border: 1px solid #eee;
    border-radius: 4px;
    height: 41px;
    margin-right: 6px;
    padding: 1px;
    vertical-align: top;
}
.indexloginbox
{
    color:#880000;  
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px; 
    border-radius: 10px;
    /*border:1px solid #c6c9ce;  
    background-color:#7BA9E8;  
    background-color:#90df63;     
    background-color:#f0f0f0;   
    background-color:#FFFAFA ;  */        
} 
#innerloginspan
{
    width:390px; 
    height:200px;
    /*margin-top:50px;*/ 
}
.label
{
    font-family: inherit;
    font-size: 13px; 
    font-weight: normal;
    font-style: normal;
}

#emailerrordiv,#pwderrordiv{
    height:25px;
    line-height:25px;
    text-align:center;
    margin-left:70px;
}
#errordiv
{
    color:#FF0000;
    content: ".";
    font-weight:400;
    margin-top: 10px;
}
.frgtpwddiv{
    padding:0;
    width:400px;
    display:none;
    margin:0 auto;
}
.indexbottom{
    color:#880000;  
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px; 
    border-radius: 10px;
    border:1px solid #c6c9ce;  
    background-color:#f0f0f0;  
    clear: both;
    bottom:0;
    padding:10px 0 10px 0px;   
    width:981px;  
    margin:10px 0 0 0px;     
}
.leftspan{
    width:100px;
    float:left;
}
.rightspan{
    margin-left:10px;
    width:100px;
}
.imgclose
{
    position: absolute;
    top: 0px;
    left: 590px;
    border:none;
    margin: -20px -70px 0 0;
}
.fpwdclsimg
{
    position: absolute;
    top: 0px;
    left: 425px;
    border:none;
    margin: -20px -70px 0 0;
}
#oinreg, #oinrec
{
    position: fixed;
    background-color:rgb(119,119,119);
    filter:alpha(opacity=70);
    opacity:0.4;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;min-width:1081px;min-height:400px;
    z-index: 9000;

}
#inreg
{
    position: absolute;
    top: 100px;

    padding:50px;
    background-color:#fff;
    border: 1px solid #666;
    z-index: 9999; 
    display: inline-block;

}
#inreg h1{
    text-align: left;
    margin: -25px 0 10px  0;
    font-family: MuseoSlab500,Helvetica,inherit;
    font-weight: normal;
    line-height: 1.25;
    color: #C92434;
    font-size: 2rem;
}
#inrec
{
    position: absolute;
    top: 180px;
    /*  left: 400px; */
    width:400px;
    padding:50px 0 50px 50px; 
    background-color:#fff;
    border: 1px solid #C6C9CE;
    z-index: 9999; 
    /*
     -moz-border-radius: 10px;
-webkit-border-radius: 10px;
-khtml-border-radius: 10px; 
border-radius: 10px; 
    */
    /* -webkit-box-shadow: 0 4px 16px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 4px 16px rgba(0,0,0,0.2);
    box-shadow: 0 4px 16px rgba(0,0,0,0.2); */
    /*background-clip:content-box;
    -webkit-background-clip:content;
    -moz-background-clip:content;*/
}
.osuc{
    position:absolute;
    top:200px;
    left:400px;
    width:450px;
    height:150px;
    background-color:#CCCCCC;
    border:5px solid navy;
}
.suc{
    border:1px solid navy;
    background-color:#FFFFFF;
    padding:45px 25px 5px 25px ;
    width:400px;
    height:100px;
    font-size:16px;
    font-family:inherit, Helvetica, sans-serif, verdana;
    font-weight:800;
    color:#333333;
    text-align:center;  
}
.asuc{
}

.logobtn
{ 
    /*background:none;
    border:0;
    color:#fff;
    cursor:pointer;
    display:inline-block;
    font-family:inherit; 
    font-size: 13px;
    line-height:27px;
    vertical-align:bottom;
    font-weight:bold;
    margin:5px 0 0 0;
    outline:none;
    white-space:nowrap; 
     zindex:9990*/
    font-family:inherit, Tahoma, verdana, inherit, sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-decoration:none;
    text-transform:capitalize;
    margin:12px;
    display: inline-block;
    min-width: 150px;
    text-align: center;
    color: #fff;
    height: 100px;
    padding: 0 8px;
    line-height: 100px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -ms-transition: all 0.218s;
    -o-transition: all 0.218s;
    transition: all 0.218s;
    border: 1px solid #777;
    background-color:#880000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-box-shadow: 0 4px 10px rgba(0,0,0,0.6 );
    -moz-box-shadow: 0 4px 10px rgba(0,0,0,0.6);
    box-shadow: 0 4px 10px rgba(0,0,0,0.6);
    zoom: 1;
    /*    filter:
           progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=0,strength=1),
           progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=45,strength=1),
           progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=90,strength=2),
           progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=135,strength=3),
           progid:DXImageTransform.Microsoft.Shadow(color=#cccccc,direction=180,strength=10),
           progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=225,strength=3),
           progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=270,strength=2),
           progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=315,strength=1); */
    user-select: none;
    cursor:pointer;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}  
li{

    list-style:none
}
.logobtn-sbmt{
} 
.logobtn-sbmt:hover{
    background-color:#004F00;
    border:1px solid #003300;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 0.0s;
    -moz-transition: all 0.0s;
    -ms-transition: all 0.0s;
    -o-transition: all 0.0s;
    transition: all 0.0s;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.p_img_container{
    border: 1px solid red;
    margin: 2px;
    padding: 3px;
    width: 100px;
    text-align:center;
    background-color:#880000;
}
.p_img_container_hdr{
    font:inherit;
    color:#fff;
    height:30px;
    line-height:30px;
    margin:-4px 20px 0px 20px;
    padding:0 20px;
    font-weight:500;
    font-size:17px;

    border: 1px solid red;
    /* width: 100px; */
    text-align:center;
    background-color:#880000;
}
.p_img_container img{
    height:75px;
    max-width: 100px;
}
.p_lbl{
    position: absolute;
    top: 60px;
    text-align: center;
    width: 100px;
    margin:-20px 6px 0 6px;
    word-wrap: break-word;
    padding: 0 0;
    height: 15px;
    font-size: 11px;
    font-weight: normal;
    background-color: white;
    opacity: 0.7;
    color: #111;
    text-transform: capitalize;
    display:none;
}
.bul li:hover .p_lbl{
    display:block; 
}
.bottom li{
    text-align:center;
    color:#fff;
}
.bottom{
    position:relative;
    min-height:100px;
}
.bottom img{
    height:55px;
}
.bul a:hover{
    color:#fff;
    text-decoration:underline;
}
.bul a{
    color:#999;
    text-decoration:none;
    padding:2px 10px;
    cursor:pointer;
}
.bul li{
    float:left;
    height:28px;
    line-height:28px;
}
.bul{
    position:absolute;
    bottom:0;
    width:100%;
    min-width:1000px;
    background-color:#880000;
}
.nametext,.errorspan{
    font-weight:bold;
    font-family:inherit;
}
.nametext{
    font-size:13px;
}
#activebtndiv{
margin:10px 0;	
}
.llgnpcbo .errorspan{
	
	position: absolute;
  left: 335px;
  text-align: left;
  text-transform: lowercase;
  /* width: 51px; */
  font-size: 11px;
  font-weight: normal;
  color: #fff;
  margin-top: 10px;
  margin-left: 2px;
  display: none;
  background-color: rgba(111,0,0,0.7);
  padding: 2px 6px;
  border-radius: 2px;
  text-align: center;
  line-height: 11px;
  height: 12px;
  white-space: nowrap;
}
.lgnpcbo .errorspan{
    /*    background-color: rgba(136, 0, 0, 0.6);
        border: 1px solid #880000;
        height: 24px;
        line-height: 20px;
        padding: 2px 5px;*/
    position: absolute;
    left: 335px;   
    text-align: center;
    text-transform:lowercase;
    width: 122px;
    font-size: 11px;
    font-weight: bold;
    color: #880000;
    margin-top: 5px;
    display: none;
}
.txtbox{
    font-family:inherit;
    color:rgb(34,34,34);
}
.banner{
    /*                                border: 1px solid;
                                    border: 0px solid;
                                    border: 1px solid;
                                    border: 1px solid;
                                    border-color: #e5e5e5 #dbdbdb #d2d2d2;
                                    -webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
                                    -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
                                    box-shadow: rgba(0,0,0,0.3) 0 1px 3px;*/
}
.banner h1 {
    display: block;
    font-size:35px;
    line-height: 1.1em;
    color: #333;
    position: relative;
    font-family: "enriqueta-bold",Garamond,serif;
}
.search-banner{
    height: 15px;   
}
.in-banner-info{
    display: block;
    position: relative;
    color: #333;
padding: 10px 0;
    font-size: 27px;
    line-height: 1.3em;
    /*                                text-shadow: 0 0 12px rgba(0,0,0,0.5),0 0 32px rgba(0,0,0,0.25),0 1px rgba(0,0,0,0.75);    */
}

.banner{
    /*                                border: 1px solid;
                                    border: 0px solid;
                                    border: 1px solid;
                                    border: 1px solid;
                                    border-color: #e5e5e5 #dbdbdb #d2d2d2;
                                    -webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
                                    -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
                                    box-shadow: rgba(0,0,0,0.3) 0 1px 3px;*/
}

.jukebox{
    width:1000px;margin:45px auto;
    overflow: hidden;
    display: none;
}
.jukebox ul li{
    /*                border: 1px solid;
                    border-color: #e5e5e5 #dbdbdb #d2d2d2;
                    -webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
                    -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
                    box-shadow: rgba(0,0,0,0.3) 0 1px 3px;*/
    height:300px;width:475px;
}
.jukebox ul li h3{
    display: block;
    font-size: 24px;
    font-weight: 700;
    line-height: 23px;
    margin: 0;
    padding:20px;
    text-align: left;
    color: #df721c;
}
.juke-p p{
    margin: 15px 0;
    font: 200 20px/1 "enriqueta-bold",Garamond,serif;
}
.jukebox ul li p{
    margin: 25px 0;
    font: 200 22px/1 "enriqueta-bold",Garamond,serif;
}
.mainerrordiv input[type='text']{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #C0C0C0 #EEEEEE #EEEEEE;
    border-image: none;
    border-radius: 1px;
    border-right: 1px solid #EEEEEE;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    direction: ltr;
    display: inline-block;
    font-size: 12px;
    height: 28px;
    line-height: 15px;
    margin: 5px 15px;
    padding: 0 8px;
    width: 200px;
}
.fpwddv{
    padding: 5px 15px;
    background-color: #eee;
    -webkit-box-shadow:inset 1px 0 0.8px 0.8px rgba(1,1,1,0.1);
    box-shadow:inset 1px 0 0.8px 0.8px rgba(1,1,1,0.1);
}
.fpwlbl{
    padding: 4px;
}

.loginbx{
  
    margin-top: 0px;
    width: 980px;
    background-color: rgb(255,255,255,0.4);
   /* border-color: #e5e5e5 #dbdbdb #d2d2d2;
    border: 1px solid #EEEEEE;
    -webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
    box-shadow: rgba(0,0,0,0.3) 0 1px 3px;*/
    display: inline-block;
}
.inloginbx{
    display: inline-block;
    width: 100%;
    padding: 5px;
    background-color:rgba(179, 195, 193, 0.2);
    -webkit-box-shadow:inset 1px 0 0.8px 0.8px rgba(1,1,1,0.1);
    box-shadow:inset 0px 0 0.8px 0.8px rgba(1,1,1,0.1);
}
.lloginbx{
  /*  width: 520px;
    float: left;*/
    text-align:center;
}
.rloginbx{
  /*  width: 450px;
    float: right;*/
    text-align:center;
    padding-top:15px;
}
.tdown {
    display:none;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;	
    border-top: 10px solid #eee;
    margin-top: 4px;
}
.lindexbox .lindexbox-a{
    /*    cursor:pointer;
        display: inline-block;
        border: 1px solid #ccc;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
        box-shadow: 0 1px 1px rgba(0, 1, 0, 0.1);
        margin: 0 -2px;
        text-align: center;
        padding: 4px 20px;*/
}
.lindexbox h1{
    color :#880000 !important;
}

.joinushdr,.loginhdr{

}
.combobx{
    border: 1px solid #eee;
    padding: 20px;
}
.lindexboxdv{
    position: relative;
}
.lindexbox-a ul{
    position: absolute;
    width: 100%;
    left: 0;
}
.searchdedifdinp{
moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 white;
    border-color: silver #d9d9d9 #d9d9d9;
    border-image: none;
    border-radius: 1px;
    border-right: 1px solid #d9d9d9;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    direction: ltr;
    display: inline-block;
    font-size: 15px;
    height: 32px;
    line-height: 29px;
    margin: 5px 0;
    padding: 0 8px;
    width: 335px;
}
.mdtx{
	font-size: 19px;
  color: #222;
  display: block;
  margin: 5px 0 15px 0;
  text-align: left;
  font-weight: normal;
  font-family: inherit;
}
.apiw{
   width: 153px; 
}
.apih{
   height: 32px;
   line-height: 28px;
   background-size: 32px 32px;
   padding-left: 32px; 
   margin: 1px 0;
}
.apif{
  font-size: 17px;  
}
.apicn{
    background-repeat: no-repeat;    
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    text-align: center;
    text-shadow: 1px 0 2px rgba(1, 1, 1, 0.5);
    vertical-align: middle;    
}
.fbicn{
	background-image:url("/images/facebook.png");
	background-color:#354c90;
	 /*border:1px solid navy;*/
}
.gicn{
	background-image:url("/images/googleplus.png");
	  background-color:#D94D02;
	   /*border:1px solid maroon;*/
}
.ticn{
	background-image:url("/images/twitter.png")
}
.ycin{
	background-image:url("/images/yahoo.gif")
}
#apilgbx{
	width:225px;
	margin-top:35px;
}
#apilgbx li {
	margin : 10px 0;
}
.divider{
	height:30px;
	border-bottom:1px solid #eee;
	margin-bottom:30px;
}
.divider span{
	  position: Relative;
  top: 24px;
  display: block;
  width: 38px;
  left: 42%;
  background-color: #fff;
  text-align: center;
	
}